}
#header {
    background-color:#171515;
    color:white;
    text-align: left;
    padding:5px;
	font-family:Century Gothic;
}
#nav {
    line-height:30px;
    background-color:#ccffe5;
    height:1200px;
    width:150px;
    float:left;
    padding:5px;
font-family:Century Gothic;
color: black;
font-size: 20px;	
}
#section {
    width:1500px;
    float: left;
    padding:10px;
font-family:Century Gothic;
color:#ff0000;
}

h1 {
text-align: center;
font-size: 45px;
}

